<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Add more deed</title>
</head>
<body>
  <h1>Silakan update deeds anda</h1>
  <form action="/profile/<%= profileId %>/addDeed" method="post">
    <% deeds.forEach(deed => { %>
    <% let check = true %>
      <% for (let i = 0; i < data.length; i++){ %>
          <%if (data[i].DeedId === deed.id) {%>
          <tr> <% check = false %>
            <td><%= deed.name %></td>
            <td><input type="checkbox" id="deed<%= deed.id %>" name="<%= deed.id %>" checked></td>
            <br>
          </tr>
        <%} %>
      <% } %>
      <% if (check) { %>
        <tr>
          <td><%= deed.name %></td>
          <td><input type="checkbox" id="deed<%= deed.id %>" name="<%= deed.id %>"></td>
          <br>
        </tr>
        <% } %>
  <% }) %>
    <input type="submit" value="Submit">
  </form>


</body>
</html>