<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <p> Username = <%= data.dataValues.username%> </p>

  <p>Tambah perbuatan</p>

  <table>
    <tr>
      <th>Perbuatan</th>
      <th>Opsi</th>
    </tr>

    <%let score = 0 %>
    <% data.dataValues.Deeds.forEach(element => { %>
    <tr>
      <td>
        <%= element.dataValues.name%>
      </td>
      <td>
        <a href="/profile/<%= subjectId %>/userpage/delete/<%= element.dataValues.id%>">Delete</a>
      </td>
    </tr>
    <% score += element.dataValues.rating%>
    <% });%>

  </table>
    
 <p>Total score anda adalah</p>
 <h1><%= score%></h1>
    <a>klik disini untuk melihat posisi anda</a> 
    <a>//disini isinya ranking user, data statistik global</a>
</body> 
</html>