<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <p> Username = <%= data.dataValues.username%> </p>
  <p>Bosen dengan username anda? silakan klik tombol dibawah ini biar diganti</p>
  <a href="/profile/<%= profileId %>/updateProfile" style="color:magenta">klik aku mas</a>
  <p>Tambah perbuatan</p>

  <table>
    <tr>
      <th>Perbuatan</th>
      <th>Opsi</th>
    </tr>

    <%let score = 0 %>
    <% data.dataValues.Deeds.forEach(element => { %>
    <tr>
      <td>
        <%= element.dataValues.name%>
      </td>
      <td>
        <a href="/profile/<%= profileId %>/userpage/delete/<%= element.dataValues.id%>">Delete</a>
      </td>
    </tr>
    <% score += element.dataValues.rating%>
    <% });%>

  </table>
    <p><a href="/profile/<%= profileId %>/addDeed">add more deed</a></p>
 <p>Total score anda adalah</p>
 <h1><%= score%></h1>
    <a>klik disini untuk melihat posisi anda</a> 

    
    <a href="/chart/leaderboard">Leaderboard</a>
    <a href="/chart/frequencyofdeeds">Deeds Frequency Chart</a>

    <p>klik dibawah ini untuk menghapus user kamu</p>
    <h1><a href="/profile/<%= profileId %>/deleteProfile">delete</a></h1>
  
</body> 
</html>